input#cover {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png") center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 60px 60px;
}

.card img {
  flex: 2 2 auto;
}

.card .card-body {
  flex: 2 2 auto;
}

.card .flex {
  flex: 1 1 auto;
}

.create-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.form__delete {
  margin-bottom: 1rem;
  display: inline-flex;
}

.form__delete button {
  margin-top: 1rem;
}

img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

